@charset "utf-8";
/* CSS Document */

body{
    background-color: #f6f5f5;
    margin: 0;
    padding:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width:100%;
    height: 95vh;
    background-image: url(./img/aaa.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%
}

nav ul{
    display:flex;
}

nav ul li a{
    margin:30px;
    font-family: Tahoma;
    color: #808080;
    font-size: 15px;
    font-weight: 300;
}

.logo{
    font-family: Georgia;
    color: #909090;
    font-size: 22px;
}

.active{
    font-weight: bold;
    color: #2d2a2a;
}

.text-container p:nth-child(1){
    font-family: Tahoma;
    font-weight: lighter;
    color:#6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2){
    font-family: Georgia;
    font-weight: lighter;
    letter-spacing: 0.5px;
    color:#474747;
    font-size: 60px;
}

.text-container p:nth-child(3){
    font-family: Verdana;
    color: #686868;
    font-size: 24px;
    line-height: 31px;
}

.text-container p{
    line-height:0px;
    margin: 45px 0px 25px;
}

.text-container{
    position: absolute;
    left:13%;
    top:42%;
    transform: translate(-13%,-42);
}

.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: tahoma;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.hire-btn{
    border:2px solid #262525;
    color: #262525;
}

.down-cv{
    background-color:#262525;
    color: white;
    border: none;
}

button:active{
    transform:scale(1.1)
}

.about-container{
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position:relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img{
    height:250px;
    box-shadow:2px 2px 12px rgba(0,0,0,3);
}
.about-text{
    width:550px;
}
.about-text p:nth-child(1){
    color: #3e3d3d;
    font-family: Georgia;
    font-weight: bolder;
    font-size: 20px;
    line-height: 0px;
}

.about-text p:nth-child(2){
    color: #3e3d3d;
    font-size: 13px;
    font-family: Tahoma;
    font-weight: bold;
    line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #3e3d3d;
    font-family: verdana;
    font-size: 12px;
    text-align: justify;
}

.about-text button{
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: none;
    font-family: tahoma;
    background-color: #262525;
}

.services{
    height: 600px;
    background-color: #ffffff;
    padding:2% 10% 0px 10%;
}

.services-text p:nth-child(1){
    font-family: Georgia;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 20px;
    line-height: 0px;
}


.services-text p:nth-child(2){
    font-family: tahoma;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 13px;
    line-height: 5px;
}

.services-text p:nth-child(3){
    font-family: verdana;
    color: #7e7d7d;
    font-size: 12px;
    text-align: justify;
}

.services-text{
    width: 500px;
    margin: 50px 0px;
}

.box-1,.box-2,.box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 4px;
}

.box-container{
    display: flex;
    justify-content: space-between;
}

.box-1{
    background-image: url(./img/html.png);
}

.box-2{
    background-image: url(./img/css.png);
}

.box-3{
    background-image: url(./img/dg.png);
}

.box-1 span,
.box-2 span,
.box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: verdana;
    font-weight: bold;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color:white;
    font-family: Georgia;
    font-size: 20px;
    line-height: 12px;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family: verdana;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color: #8f8f8f;
    font-size: 12px;
}

.box-1 button,
.box-2 button,
.box-3 button{
    width: 100px;
    height: 30px;
    background-color: #fefefe;
    border:none;
    outline:none;
    border-radius: 5px;
}

.contact-me{
    width: 100%;
    height: 280px;
    background-image: url(./img/aaa.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

.contact-me p{
    color:white;
    font-size: 25px;
    font-family: Georgia;
    font-weight: lighter;
    border-bottom: 1.5px solid #808080;
}

.contact-me button{
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bolder;
}

footer{
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer p{
    font-family: georgia;
    color: #565555;
    font-size: 15%;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform:translateX(-50%);
}


.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons{
    display: flex;
}



.social-icon i{
        color: #000000;
}

.social-icon a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}

.social-icon a:hover i{
    color: #ffffff;
    transition: all ease 0.5s;
}

@media(max-width:1000px){
	*{
		box-sizing: border-box;
	}
	.model{
		height: 460px;
		left: 90%;
		transform: translateX(-90%);
	}
	.text-container{
		top:46%;
	}
	.text-container button{
		margin: 5px;
	}
	.about-container{
		width:90%;
		border-radius: 10px;
	}
	.about-container img{
		height: 200px;
	}
	.about-text{
		width: 400px;
	}
	.about-text p:nth-child(1){
		font-size: 20px;
	}
	.about-text p:nth-child(2){
		font-size: 10px;
	}
	
	.about-text p:nth-child(3),
	.about-text p:nth-child(4){
		font-size: 14px;
	}
	.services{
		padding: 2% 5% 0px 5%;
	}
	.box-container{
		justify-content: center;
		flex-wrap: wrap;
	}
	.services{
		height: auto;
	}
	.box-1,.box-2,.box-3{
		flex-grow: 1;
		margin: 10px;
	}
	.contact-me{
		height: 200px;
	}
	.contact-me p{
		font-size: 26px;
	}
	.contact-me button{
		font-size: 14px;
		height:35px;
		width: 160px;
	}
}
@media(max-width:750px){
	section{
		background-image:none;
		background-color:#f7f7f7;
	}
	.model{
		display: none;
	}
	.toggle{
		display: block;
	}
	.text-container p:nth-child(2){
		line-height: 40px;
		margin: 0px;
		padding: 0px;
		
	}
	.text-container{
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 80%;
	}
	nav ul{
		margin: 0px;
		padding: 0px;
		background-color: #ebeef4;
		flex-direction: column;
		position: fixed;
		left: 0;
		top: 0;
		width:100%;
		height: 100vh;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		display: none;
		
	}
	nav ul li{
		padding: 10px;
	}
	nav ul li a{
		font-family: calibri;
		font-size: 1.4em;
		text-transform: uppercase;
		color:#5c5c5c;
	}
	nav ul li a:hover{
		color:#121212;
	}
	.toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 30px;
		z-index: 1;
	}
	.toggle.active:before{
		content: '\f00d';
		position: fixed;
		right: 25px;
		line-height: 0px;
		
	}
	nav.active ul{
		display: flex !important;
	}
	.about-container{
		top: 0px;
		flex-direction: column;
		width:90%;
		height: auto;
		padding: 30px 0px;
		align-items: center;
	}
	.about-text{
		width:90%;
		text-align: center;
	}
	.services-text{
		width: 100%;
	}
	.contact-me{
		height: 180px;
	}
	.contact-me p{
		font-size: 18px;
	}
	.contact-me button{
		width: 150px;
		height: 33px;
	}
	footer p:nth-child(2){
		width: 90%;
	}
	
}